<h2>Create your own drone</h2>
<form action="/drones/create" method="POST"> 
    <label>Name:</label>
    <input type="text" name="name"/>
    <label>Propellers:</label>
    <input type="number" name="propellers"/>
    <label>Speed:</label>
    <input type="number" name="maxSpeed"/>
    <button type="submit">Create</button>
</form>